<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman Game!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="title">Hangman!</h1>
    {{#game}}
      <img id="hangman-img" src="https://image.flaticon.com/icons/png/512/43/43980.png" alt="hangman">
      <h3>Choose Difficulty</h3>
      <form class="level_container" action="/" method="post">
        <input type="hidden" name="difficulty" value="easy">
        <input type="submit" name="easy" value="easy">
      </form>
      <form class="level_container" action="/" method="post">
        <input type="hidden" name="difficulty" value="normal">
        <input type="submit" name="normal" value="normal">
      </form>
      <form class="level_container" action="/" method="post">
        <input type="hidden" name="difficulty" value="hard">
        <input type="submit" name="hard" value="hard">
      </form>
    {{/game}}
    {{^game}}
      <h2>you have {{count}} guess left</h2>
      {{#solution}}
      <h3>The correct answer is {{solution}}!</h3>
      {{/solution}}

      {{^array_display}}
      <h3>Guess me !  {{arrayDisplay}}</h3>
      {{/array_display}}

      {{#message}}
      {{message}}
      {{/message}}
      {{^result_message}}
      <form class="guess" action="/game" method="post">
        <label for="">Enter a Letter!</label>
        <input type="text" name="guess" value="">
        <input type="submit" name="" value="Submit!" onclick="myfunction()">
      </form>
      {{/result_message}}
      {{#result_message}}
      <h1>{{result_message}}</h1>
      {{/result_message}}
      {{#guessedArrayDisplay}}
      <h4>letters guessed: {{guessedArrayDisplay}}</h4>
      {{/guessedArrayDisplay}}
      <div class="return">
        <!-- <button href="/" type="button" name="button"></button> -->
        <a href="/" onclick=" return confirm('Are you sure?')">back to home page</a>
      </div>
    {{/game}}


    <footer>
      <h6>Copyright © 2017 by Ronald Hong. All rights reserved.</h6>
    </footer>
    <script type="text/javascript" src="/main.js" charset="utf-8">

    </script>
  </body>
</html>
